


  <div class="space">
    <div class="container">
      <div class="panel-body1">
        <form [formGroup]="ResetPasswordForm" (ngSubmit)="onSubmit()" >
          <h1 style="color:white;">Reset Password</h1>
          <label class="lbl">Enter new password</label><br>
          <input class="input" type="password" formControlName="password" name="password" required><br>
          <span class="text-danger" *ngIf="ResetPasswordForm.controls['password'].hasError('required') && (ResetPasswordForm.controls['password'].dirty || ResetPasswordForm.controls['password'].touched)">Password is required.</span><br />
          <span class="text-danger" *ngIf="ResetPasswordForm.controls['password'].hasError('required') && (ResetPasswordForm.controls['password'].dirty || ResetPasswordForm.controls['password'].touched)">Password must be at least 6 characters.</span>
          <label class="lbl">confirm password</label><br>
          <input class="input" type="password" id="password" formControlName="confirmPassword" name="password" required><br><br>
          <span class="text-danger" *ngIf="ResetPasswordForm.controls['confirmPassword'].hasError('mustMatch') &&
 (ResetPasswordForm.controls['confirmPassword'].dirty || ResetPasswordForm.controls['confirmPassword'].touched)">Passwords must match</span>
       
          <button type="submit" class="submit" style="margin-right: 10%">SUBMIT</button>
          <!--button mat-button (click)="openDialog()">Confirm box</!-button-->
        </form>

      </div>
    </div>
  </div>
