.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.header {
  position: absolute;
  padding: 10px 16px;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  background-color: #1E73BC;
  color: white;
  font-weight: 600;
}
