<div class="wrapper">
  <nav class="navbar navrbar-expand navbar-dark bg-dark">
      <div class="navbar-nav">
          <a class="nav-item nav-link" routerLink="/user/users" routerLinkActive="routerActive">Manage Users</a>
          <a class="nav-item nav-link" routerLink="/incident/incidents" routerLinkActive="routerActive">Manage Incidents</a>
          <a class="nav-item nav-link" routerLink="/report/reports" routerLinkActive="routerActive">Manage Reports</a>
          <!--<a class="nav-item nav-link" routerLink="/role/roles" routerLinkActive="routerActive">Manage Roles</a>-->
          <a class="nav-item nav-link" routerLink="/status/statuses" routerLinkActive="routerActive">Manage Statuses</a>
          <!--<a class="nav-item nav-link" routerLink="/task/tasks" routerLinkActive="routerActive">Manage Tasks</a>-->
      </div>
  </nav>
</div>

