<br>
<br>
<div class="bg">
  <div class="example-container mat-elevation-z8">
  

  <div class="loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
<div class="content">
  <mat-card class="example-card">
  <form [formGroup]="form" (ngSubmit)="save()">
    <h1>Log an Incident</h1>
    <br>
    <div class="form-group row">
      
    <label class ="control-label col-md-12" for="descriptionLabel">Please enter the incident description</label>
    <span class="required-field"></span>
    <div class="col-md-12">
    <input type="text" #input formControlName= "Description"pattern="[a-zA-Z0-9\s]*" maxlength="255" minlength="4" placeholder="Enter description" required>
    <span style="color:rgb(255, 0, 0)" class="text-danger" *ngIf="form.controls['Description'].hasError('required') &&
        (form.controls['Description'].dirty || form.controls['Description'].touched)">This field is required, minimum value is 4.
      </span>

      <br/>
    <br>
  
    <!--The listbox that contains avail-->
    <label for="li">Please select the incident location</label> 
    <span class="required-field"></span>
    <br>
    <br>
    <select  id="location" name="location" matNativeControl  formControlName= "Location" placeholder="Enter location" required>
      <option label="Pick a room" [disabled]="true" selected>Pick a room</option>
      <option value="Floor: 2, Room: Siyabonga">Floor 2 Room: Siyabonga</option>
      <option value="Floor: 2, Room: Boardroom">Floor 2 Room: Boardroom</option>
      <option value="Floor: 2, Room: Aranka Office">Floor 2 Room: Aranka Office</option>
      <option value="Floor: 2, Room: Cindy Office">Floor 2 Room: Cindy Office</option>
      <option value="Floor: 2, Room: Basil Office">Floor 2 Room: Basil Office</option>
      <option value="Floor: 2, Room: Boardroom">Floor 2 Room: Kitchen</option>
      <option value="Floor: 2, Room: Pause Area">Floor 2 Room: Pause</option>
      <option value="Floor: 1, Room: Dumela">Floor 1 Room: Dumela</option>
      <option value="Floor: 1, Room: Abusheni">Floor 1 Room: Abusheni</option>
      <option value="Floor: 1, Room: Thobela">Floor 1 Room: Thobela</option>
      <option value="Floor: 1, Room: Nadine Office">Floor 1 Room: Nadine Office</option>
      <option value="Floor: 1, Room: Pause Area">Floor 1 Room: Pause Area</option>
      <option value="Floor: 1, Room: Project Office">Floor 1 Room: Project Office</option>
      <option value="Floor: 1, Room: Reception">Floor 1 Room: Reception</option>
      <option value="Floor: 1, Room: Molo">Floor 1 Room: Molo</option>
      <option value="Floor: 1, Room: Exam Centre">Floor 1 Room: Exam Centre</option>
      <option value="Floor: 1, Room: Sanibonani">Floor 1 Room: Sanibonani</option>
      <option value="Floor: 1, Room: Avuwani">Floor 1 Room: Avuwani</option>
      <option value="Floor: 1, Room: Store Room">Floor 1 Room: Store Room</option>
      <option value="Floor: 1, Room: Server Room">Floor1 Room: Server room</option>
    </select>
    <span style="color:rgb(255, 0, 0)" class="text-danger" *ngIf="form.controls['Location'].hasError('required') &&
        (form.controls['Location'].dirty || form.controls['Location'].touched)">This field is required
      </span>
    <!-- <mat-error *ngIf="nativeSelectFormControl.hasError('required')">You must make a selection</mat-error> -->
    <!-- <mat-error *ngIf="Location.hasError('required')">
      This field is required
    </mat-error> -->
  
    <!-- <input form ="logInci" type="submit" value="Submit"  (click)="openDialog()">  -->
    <!-- <button mat-button (click)="openDialog()">Submit</button>  -->
    </div>  
  </div>
  <div class="form-group">
    <button type="submit" [disabled]="!form.valid" mat-flat-button color="primary">save</button>
    <button mat-flat-button color="warn" (click)="cancel()">Cancel</button>
  </div>
  </form>
 
</mat-card>
</div>
</div>
